*{
    box-sizing: border-box;    
}
html{
    background-color: #eee;
    font-family: 'Indie Flower', cursive;
}
body{
    margin: 0;
}
#main{
    margin-top: 10px;
    position: relative;
    border: 1px solid transparent;
}